<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CardiologyClinic.Properties.Settings.cardiology_clinic_ConnectionString"
            connectionString="server=localhost;user id=root;password=12345678;persistsecurityinfo=True;database=cardiology_clinic"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>